
.beaudiv {
    text-align: center;
}

#cible {

    background-image: url("../img/asteroidmining.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
}

.error {
    color: red;
}

.countP {
    padding: 0.5em;
    margin-top: 0.5em;
    color: #2a0000;
}

.disabled {
    
opacity: 100%;
    
}

.image{
    height: 1%;
    width: 100%;
    
}